.about{

}

.c_about{
    display: grid;
    justify-content: center;
}

.a_tarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.a_tarjeta{
    background: var(--bg2);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--animacion);
}

.a_tarjeta:hover{
    background: var(--primario);
}

.a_dibujo{
    color: var(--blanco2);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.a_tarjeta > h5{
    font-size: 1rem;
    color: var(--blanco);
}

.a_tarjeta > small{
    font-size: 0.7rem;
    color: var(--blanco2);
}

.a_description{
    margin: 3rem 0 2.6rem;
    color: var(--blanco);
    text-align: justify;
}


/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (min-width: 701px) {

    .c_about{
        grid-template-columns: 90%;
        gap:  10%;
    }

    .a_tarjetas{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .about{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}

/* -------------  RESPONSIVE TELEFONO GRANDE -------------- */
@media screen and (max-width: 700px) {
    .c_about{
        grid-template-columns: 99%;
        gap:  1%;
    }

    .a_tarjeta{
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .a_dibujo{
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .a_description{
        text-align: center;
        font-size: 0.7rem;
    }
    
    .a_tarjeta > h5{
        font-size: 0.9rem;
    }
    
    .a_tarjeta > small{
        font-size: 0.6rem;
    }

}

/* -------------  RESPONSIVE TELEFONO PEQUE  -------------- */
@media screen and (max-width: 535px) {

    .c_about{
        grid-template-columns: 99%;
        gap:  1%;
    }

    .a_tarjeta{
        border-radius: 1rem;
        padding: 0.5rem;
    }
    
    .a_dibujo{
        font-size: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .a_description{
        text-align: center;
        font-size: 0.7rem;
    }
    
    .a_tarjeta > h5{
        font-size: 0.6rem;
    }
    
    .a_tarjeta > small{
        font-size: 0.5rem;
        visibility:hidden;
        display: none;
    }

}