/* -------------  TEXT  -------------- */

header{
    height: 100vh;
    overflow: hidden;
}

.h_contenedor{
    height: 100%;
    position: relative;

    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
    align-content: center; 
    align-items: center; 
}

/* -------------  SOCIAL  -------------- */

.h_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
}

.h_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--primario);
}

.Laptop{
    width: 30rem;
    height: 30rem;

    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (max-width: 1024px) {
    .h_contenedor{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". ."; 
        align-content: center; 
        align-items: center; 
    }

    .Laptop{
        width: 20rem;
        height: 20rem;
    
        position: relative;
        top: 50%;
        transform: translateY(-60%);
    }
}

/* -------------  RESPONSIVE TELEFONO  -------------- */
@media screen and (max-width: 600px) {
    .h_contenedor{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."; 
        align-content: center; 
        align-items: center; 
    }

    .Laptop{
        width: 15rem;
        height: 15rem;

        top: 0;
    }

    
}