/* -------------  TEXT  -------------- */

header{
    height: 100vh;
    overflow: hidden;
    
}

.h_contenedor{
    padding-top: 20vh;
    height: 100%;
    position: relative;


    align-content: center; 
    align-items: center; 

    text-align: center;
}

/* -------------  SOCIAL  -------------- */

.h_social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
}

.h_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--primario);
}

/* -------------  IMG  -------------- */

.Laptop{
    position: sticky;

    width: 40rem;
    height: 40rem;

    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (max-width: 1024px) {

    .Laptop{
        width: 30rem;
        height: 30rem;
    }

}

/* -------------  RESPONSIVE TELEFONO  -------------- */
@media screen and (max-width: 600px) {

    .Laptop{
        width: 20rem;
        height: 20rem;
    }
    
}