@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

/* -------------  VARIABLES  -------------- */

:root {
    --bg: #000000;
    --bg2: #313131;
    --primario: #414141;
    --primario2: #9f9f9f;

    --blanco: #ffff;
    --blanco2: #D3D6DB;

    --c-s: 75%;
    --c-m: 86%;
    --c-l: 90%;

    --animacion: all 400ms ease; 
}

/* -------------  *  -------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg);
    color: var(--blanco);
    line-height: 1.7;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 500;
    font-size: 2.5rem;
}

h2, h3, h4, h5 {
    font-weight: 500;
}

/* -------------  GENERAL  -------------- */


a {
    color: var(--primario2);
    transition: var(--animacion);
}

a:hover{
    color: var(--blanco)
}

.contenedor{
    width: var(--c-l);
    margin: 0 auto;
}

section{
    margin-top: 8rem;
    height: 100vh;
}

section > h2{
    text-align: center;
    color: var(--blanco2);
    margin-bottom: 3rem;
}

section > h5{
    text-align: center;
    color: var(--primario);
}

.text-blanco{
    color: var(--blanco);
}

.text-blanco2{
    color: var(--blanco2);
}

.boton{
    width: max-content;
    display: inline-block;
    color: var(--primario);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primario);
    transition: var(--animacion);
}

.boton:hover{
    background: var(--blanco);
    color: var(--bg);
    border-color: transparent;
}

.boton-primary{
    background: var(--primario);
    color: var(--bg)
}


/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (max-width: 1024px) {
    .contenedor{
        width: var(--c-m);
    }

    section{
        margin-top: 6rem;
    }
}

/* -------------  RESPONSIVE TELEFONO  -------------- */
@media screen and (max-width: 600px) {
    .contenedor{
        width: var(--c-s);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}