.portafolio{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid_center{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
}

.p_item{
    background-color: var(--primario);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--animacion);

    text-align: center;
}

.c_botones{
    justify-content: center;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.p_item:hover{
    background-color: var(--bg2);
}

.p_item-img{
    border-radius: 1.5rem;
    overflow: hidden;
}

.p_item > h3{
    margin: 2rem 0 2rem;
}


/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (min-width: 950px) {

    .one{
        visibility:hidden;
        display: none;
    }

    .two{
        visibility:hidden;
        display: none;
    }
}

/* -------------  RESPONSIVE TELEFONO PEQUE  -------------- */
@media screen and (max-width: 949px) {
    .one{
        visibility:hidden;
        display: none;
    }

    .three{
        visibility:hidden;
        display: none;
    }

}

/* -------------  RESPONSIVE TELEFONO DIMINUTO  -------------- */
@media screen and (max-width: 630px) {

    .three{
        visibility:hidden;
        display: none;
    }

    .two{
        visibility:hidden;
        display: none;
    }

    .one{
        visibility: visible;
        display: contents;
    }

}