nav {
    background: transparent;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--primario2);
}

nav a.activo{
    background: var(--bg2);
    color: var(--blanco);
}




/* -------------  RESPONSIVE TABLET  -------------- */
@media screen and (min-width: 1025px) {
    nav{
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
}


@media screen and (max-width: 1024px) {

    nav{
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);

        bottom: 3rem;
    }

}

/* -------------  RESPONSIVE TELEFONO  -------------- */
@media screen and (max-width: 600px) {

    nav{
        visibility: hidden;
    }
}